* {
    box-sizing: border-box;
    padding: 0;
	margin: 0;
	width: 100%;
    box-sizing: border-box;
	font-family: 'Bangers', cursive;
}
  
.wrapper {
    height: 100vh;
	background: url(img/background.jpg);
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    overflow: hidden;
}
.info {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 22px;
    /* font-family: 'Rubik Bubbles', cursive; */
    transform: translate(180px, 80px);
}
  
.info__line {
    display: flex;
    justify-content: space-between;
}
  
.info__line span:first-child {
    width: 100px
}
  
.field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 600px;
    margin: auto;
    margin-top: 50px;
}
  
.card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    cursor: pointer;
    user-select: none;
    background: white;
}
  
.card.card_closed::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/back.jpg);
    background-size: cover;
}
  
.restart {
	width: auto;
	margin: 30px 0;
	text-align: center;
}
  
.restart button {
	width: auto;
	padding: 10px 20px;
	background: #056;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
    transform: translate(-500px, -320px);
}
.result {
    font-size: 23px;
    font-weight: bold;
    color: rgb(250, 250, 250);
    z-index: -1;
    transform: translate(200px, -90px);
   
}

@media (max-width: 615px) {
    .field {
        width: 500px;
        max-height: 100%;
        margin: auto;
    }
    /* .wrapper {
        height: 100%;
        width: 100%;
    } */
    

}
@media (max-width: 500px) {
    .field {
        width: 400px;
        max-height: 100%;
        margin: auto;

    }
    .card {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 386px) {
    .field {
        width: 320px;
        max-height: 100%;
        margin: auto;

    }
    .card {
        width: 75px;
        height: 75px;
        top: 100px;
    }
}