body {
    background: url(images/background.jpg);
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    margin: 5px auto 0;
}
h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(226, 241, 241);
}




.info {
  display: inline-block;
  color:rgb(255, 255, 255);
  padding: 5px;
  
}

.info__line {
  display: flex;
  justify-content: space-between;
}

span {
  width: 50px;
  margin: 5px;
  font-size: 20px;
  
}
.restart {
  margin: 30px 0;
  text-align: center;
}

.restart button {
  padding: 10px 20px;
  background: #056;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}


